trigger:
  branches:
    include:
      - develop
      - feature/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  fetchDepth: 0

- task: UseJavaVersion@1
  inputs:
    versionSpec: '17'
    architecture: 'x64'
    jdkSourceOption: 'PreInstalled'

- task: Maven@4
  inputs:
    mavenPomFile: 'backend/pom.xml'
    goals: 'clean test'
    options: '-Dmaven.test.failure.ignore=false -Dfile.encoding=UTF-8'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    mavenOptions: '-Xmx1024m'
