name: Maven CI

on:
  push:
    branches: [ "develop", "main" ]
    paths-ignore:
        - "README.md"
        - "docs/**"
        - ".github/ISSUE_TEMPLATE/"
  pull_request:
    branches: [ "develop", "main" ]

permissions:
  actions: read
  contents: read
  checks: write
  security-events: write
  id-token: write
  pull-requests: write



concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['23']
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven


      - name: Build & test
        run: mvn -B -ntp verify

      
      - name: Publish JUnit test results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            **/target/surefire-reports/*.xml
            **/target/failsafe-reports/*.xml
          check_name: JUnit Tests

      
      - name: Upload artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: app-${{ matrix.java }}
          path: |
            **/target/*.jar
            !/-sources.jar
            !**/-javadoc.jar
